{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbie World</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
</head>
<body>

    <header>
        <div class="top-bar">
            <span>Brasil</span>
            <span>Corporate</span>
        </div>
        <div class="nav-bar">
            <div class="logo">Barbie</div>
            <nav>
                <button class="btn">Compra ⌵</button>
                <a href="#">Bonecas Fashion</a>
                <a href="#">Bonecas com Profissões</a>
                <a href="#">Casas de Bonecas</a>
            </nav>
            <div class="search">
                <input type="text" id="search-input" placeholder="O que você está procurando?">
                <button onclick="search()">
                    <i class="fas fa-search"></i> <!-- Ícone de lupa -->
                </button>
            </div>
        </div>
    </header>

    <main>
        <div class="categories">
            <div class="category">
                <img src="https://images.mattel.net/image/upload/w_360,f_auto,c_scale/shop-contentstack/bltfae6acaefd5ff348/61ba85d156212257cdb4e68a/Barbie_Shopper_LP_2-0_Category_Shop-All.jpg" alt="Compra Tudo">
                <p>Compra Tudo</p>
            </div>
            <div class="category">
                <img src="https://images.mattel.net/image/upload/w_360,f_auto,c_scale/shop-contentstack/bltd65b71cb5d38881d/61ba36771fb57b569e60b816/Barbie_Shopper_LP_2-2_Category_Dolls_D_Copy.jpg" alt="Bonecas">
                <p>Bonecas</p>
            </div>
            <div class="category">
                <img src="https://images.mattel.net/image/upload/w_360,f_auto,c_scale/shop-contentstack/blt80505825e6a75f92/64f9e34a9aba4684399a282a/BB_LP_Category_4_Signature.jpg" alt="Signature">
                <p>Signature</p>
            </div>
            <div class="category">
                <img src="https://images.mattel.net/image/upload/w_360,f_auto,c_scale/shop-contentstack/blted2a681b5102b22b/64f9e3499e7ba65e80ca99fe/BB_LP_Category_5_Mini-Dolls.jpg" alt="Mini Bonecas">
                <p>Mini Bonecas</p>
            </div>
            <div class="category">
                <img src="https://images.mattel.net/image/upload/w_360,f_auto,c_scale/shop-contentstack/bltad86acb08a1ebc5f/61ba367708d023513c06e25a/Barbie_Shopper_LP_2-3_Category_Dollhouse_D_Copy.jpg" alt="Casas de Bonecas">
                <p>Casas de Bonecas</p>
            </div>
            <div class="category">
                <img src="https://images.mattel.net/image/upload/w_360,f_auto,c_scale/shop-contentstack/bltfde8e97a483542f0/61ba3678ad89d90d95a0aa84/Barbie_Shopper_LP_2-5_Category_Clothes_D_Copy.jpg" alt="Roupas e Acessórios">
                <p>Roupa e Acessórios</p>
            </div>
        </div>
    </main>

</body>
</html>
