{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbie World</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
</head>

<body>
    
    <div class="container">
        
        <div class="leftside"> 
            <div class="image-barbie">
                <img src="{% static 'images/image-barbie.png' %}" alt="Imagem do nome da Barbie">
            </div>
        </div>
       
        <div class="right-side">
            
            <div class="form-register">
                
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <img class="logo-barbie" src="{% static 'images/logo-barbie.png' %}" alt="logo da barbie">
           
                <div class="input-user">
                    <img src="{% static 'images/user-icon.png' %}" alt="icone de usuário">
                    <input type="text" name="username" placeholder="Digite seu nome de usuário" required>
                </div>
            
                <div class="input-password">
                    <img src="{% static 'images/password-icon.png' %}" alt="icone de senha">
                    <input type="password" name="password" placeholder="Digite sua senha" required>
                </div>

                <div class="input-password">
                    <img src="{% static 'images/password-icon.png' %}" alt="icone de senha">
                    <input type="password" name="password_check" placeholder="Confirme sua senha" required>
                </div>
        
                <button class="botao" type="submit">Cadastrar</button>

                <div class="login-link">
                    <p>Já possui uma conta? <a href="{% url 'login_page' %}"> Faça login aqui!</a></p>
                </div>
            </form>
        </div>

    </div>
    </div>
</body>
</html>
